<a asp-controller="home" asp-action="index">Go back</a>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">About this website</h5>
        <p class="card-text">This appication is used as API for ARAS Import Service</p>
        <p class="card-text">API is serving as import tool that import packages based on the manifest file into the ARAS instance</p>
    </div>
</div>